@charset "UTF-8";
@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document domain("www.linux.org.ru") {
  @font-face {
    font-family: 'equestria';
    src: url("https://github.com/Falcon-peregrinus/my-little-lor/raw/master/res/fonts/Equestria_Cyrillic/Equestria_Cyrillic.woff");
    font-weight: normal;
    font-style: normal; }

  @font-face {
    font-family: 'stars';
    src: url("https://github.com/Falcon-peregrinus/my-little-lor/raw/master/res/fonts/fontello/font/fontello.woff");
    font-weight: normal;
    font-style: normal; }

  html {
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-image: url("https://github.com/Falcon-peregrinus/my-little-lor/raw/master/res/images/bg.png")
    }
  #sitetitle {
    background-image: url("https://github.com/Falcon-peregrinus/my-little-lor/raw/master/res/images/logo-s.png");
    background-position: center center;
    background-repeat: no-repeat;
    height: 60px;
    text-indent: -9992px;
    width: 160px; } 

  .icon-star:before, .icon-star-empty:before {
    font-family: "stars" !important;
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em; }

  .icon-star:before {
    content: '\2605' !important; }

  /* '★' */
  .icon-star-empty:before {
    content: '\2606' !important; }

  /* '☆' */
  body, html {
    max-width: none !important;
    background-color: transparent !important;
    color: #444 !important;
    font-family: "Comic Sans", "Comic Sans MS", sans-serif !important; }

  a, .stars {
    color: #ed3c95 !important; }

  .stars {
    font-family: "stars" !important; }

  a.tag {
    color: #FCAF3E !important; }

  .nav-buttons a {
    background: #ed3c95 !important;
    color: white !important; }
    .nav-buttons a:hover {
      background: #e1157c !important; }

  h1, h2, h3, #navPath, .msg-top-header, .page-number {
    font-family: 'equestria' !important;
    font-weight: normal !important;
    font-style: normal !important;
    color: #ed3c95 !important;
    text-decoration: none !important;
    text-shadow: 0px 0px 2px white, 0px 0px 2px white, 0px 0px 2px white, 0px 0px 2px white, 0px 0px 2px white, 0px 0px 2px white, 0px 0px 2px white, 0px 0px 2px white, 0px 0px 2px white, 0px 0px 2px white, 0px 0px 2px white, 0px 0px 2px white, 0px 0px 2px white, 0px 0px 2px white, 0px 0px 2px white, 0px 0px 2px white, 0px 0px 2px white, 0px 0px 2px white !important; }
    h1 *, h2 *, h3 *, #navPath *, .msg-top-header *, .page-number * {
      font-family: 'equestria' !important;
      font-weight: normal !important;
      font-style: normal !important;
      color: #ed3c95 !important;
      text-decoration: none !important;
      text-shadow: 0px 0px 2px white, 0px 0px 2px white, 0px 0px 2px white, 0px 0px 2px white, 0px 0px 2px white, 0px 0px 2px white, 0px 0px 2px white, 0px 0px 2px white, 0px 0px 2px white, 0px 0px 2px white, 0px 0px 2px white, 0px 0px 2px white, 0px 0px 2px white, 0px 0px 2px white, 0px 0px 2px white, 0px 0px 2px white, 0px 0px 2px white, 0px 0px 2px white !important; }

  h1, #navPath {
    font-size: 40px; }

  .page-number {
    font-size: 28px !important;
    border: none !important;
    background: transparent !important; }

  strong.page-number, span.page-number {
    color: #272C2D !important; }

  #boxlets {
    float: none !important; }

  #news {
    margin-top: -280px !important; }

  @media (max-width: 60em) {
    #news {
      margin-top: 0px !important; } }
  .boxlet h2, .infoblock h2 {
    font-size: 2.3em !important; }

  #bd .forum table {
    background-color: rgba(255, 255, 255, 0.8) !important; }

  #bd .forum table tbody tr:hover {
    background-color: white !important; }

  .message-table .tag,
  #bd .forum table thead {
    background-color: #ed3c95 !important;
    color: white !important; }
    .message-table .tag a,
    #bd .forum table thead a {
      color: white !important; }

  #bd .forum table th, #bd .forum table td {
    border: 1px solid #eb2588 !important; }

  .messages .msg {
    background: transparent !important; }
    .messages .msg:target {
      border: 1px solid #ed3c95 !important; }

  div.msg_body h2 {
    font-size: 2em !important; }

  article, .boxlet, #counter_block, .infoblock, #nav-menu, #contents, #toc, #p-lang, #category-index, .messages .msg, #warning-text, #tag-page-forum, fieldset, legend, #wiki-footer, #tag-page-news, #whois_userpic {
    background-color: rgba(255, 255, 255, 0.8) !important;
    border-top-color: white !important;
    border-left-color: white !important;
    border-radius: 5px !important;
    border-right-color: #bbbbbb !important;
    border-bottom-color: #bbbbbb !important;
    padding: 5px 10px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important; }

  #whois_userpic {
    padding: 20px 10px !important; }

  [src*="/img/tuxlor"] {
    height: 0 !important;
    width: 0 !important;
    padding: 20px 0 0 21px !important;
    margin-right: 3px !important;
    background-image: url("https://github.com/Falcon-peregrinus/my-little-lor/raw/master/res/images/pp-small.png"); }

  .btn.btn-default {
    background: #ed3c95 !important;
    color: #fff !important; }
    .btn.btn-default:hover {
      background: #e1157c !important; }

  .code {
    border-color: #ed3c95 !important;
    background: white !important;
    color: #ed3c95 !important; }
    .code * {
      color: #ed3c95 !important;  } }
      
@-moz-document url("http://www.linux.org.ru/"), url("https://www.linux.org.ru/") {
  #sitetitle {
    background-image: url("https://github.com/Falcon-peregrinus/my-little-lor/raw/master/res/images/logo.png");
    background-position: center center !important;
    background-repeat: no-repeat !important;
    height: 321px !important;
    text-indent: -9992px !important;
    width: 23% !important; }

  @media (max-width: 60em) {
    #hd #sitetitle {
      background-image: url("https://github.com/Falcon-peregrinus/my-little-lor/raw/master/res/images/logo-s.png");
      background-position: center center !important;
      background-repeat: no-repeat !important;
      height: 60px !important;
      text-indent: -9992px !important;
      width: 160px !important; } } }
